.homepage_experience {
    background-color: #A9ABA6;
    padding-left: 10rem;
    padding-right: 10rem;
    height: 100vh;
    overflow-y: hidden;
}

.experience {
    background-color: black;
    padding-top: 8rem;
    padding-bottom: 4rem;
    height: 100vh;
    font-size: 1.4rem;
    color: white;
}

.heading_experience {
    font-size: 4rem;
    justify-self: center;
}

.grey_leaf {
    height: 30rem;
}

.experience_info {
    padding-right: 8rem;
    padding-left: 5rem;
    padding-top: 6rem;
    font-size: 1.6rem;
}

.experience_points {
    width: 70%;
}

@keyframes expSlideIn {
    from {
        transform: translateX(0%);
        opacity: 0;
    }

    to {
        transform: translateX(50%);
        opacity: 1;
    }
}

.exp-slide-text {
    font-size: 3.5rem;
    font-weight: 600;
    display: inline-block;
    animation: expSlideIn 1.4s ease-out forwards;
    position: relative;
}