/* .homepage_about {
    background-color: #C38888;
    padding-left: 10rem;
    padding-right: 10rem;
    height: 100vh;
    overflow-y: hidden;
} */

.about {
    background-color: black;
    padding-top: 8rem;
    padding-bottom: 4rem;
    height: 100vh;
    font-size: 1.4rem;
    color: white;
}

.about_heading {
    font-size: 6rem;
    justify-self: center;
    padding: 3rem;
    padding-bottom: 0;
    margin-right: 10rem;
}

.left_column {
    width: 150%;
}

.right_column {
    padding-left: 5rem;
    padding-right: 5rem;
    font-size: 1.4rem;
}

.about_content {
    /* height: 100%; */
    padding-top: 10rem;
}

.pink_leaf {
    height: 20rem;
    /* margin-top: 10rem; */
}

.about_img>img {
    border-radius: 15%;
}



@keyframes abtSlideIn {
    from {
        transform: translateX(30%);
        opacity: 0;
    }

    to {
        transform: translateX(100%);
        opacity: 1;
    }
}

.abt-slide-text {
    font-size: 3.5rem;
    font-weight: 600;
    display: inline-block;
    animation: abtSlideIn 1.4s ease-out forwards;
    position: relative;
}