.expertise {
    background-color: black;
    padding-top: 10rem;
    padding-bottom: 4rem;
    height: 100vh;
    font-size: 1.4rem;
    color: white;
}

.heading_expertise {
    font-size: 4rem;
    justify-self: center;
}

.grey_leaf {
    padding-left: 25%;
}

.grey_leaf_img {
    height: 25rem;
}

.expertise_content {
    padding-top: 3rem;
    font-size: 1.6rem;
    font-weight: 500;
}

@keyframes extSlideIn {
    from {
        transform: translateX(0%);
        opacity: 0;
    }

    to {
        transform: translateX(120%);
        opacity: 1;
    }
}

.ext-slide-text {
    font-size: 3.5rem;
    font-weight: 600;
    display: inline-block;
    animation: extSlideIn 1.4s ease-out forwards;
    position: relative;
}