.commitment {
    background-color: black;
    padding-top: 7rem;
    padding-bottom: 4rem;
    font-size: 1.4rem;
    color: white;
    height: 100vh;
}

.commitment_heading {
    font-size: 4.5rem;
    justify-self: center;
}

.commitment_content {
    margin-left: 3rem;
}

.commitment_points {
    padding-left: 5rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    width: 70%;
    font-size: 1.5rem;
    font-weight: 300;
}

.bluegreen_leaf {
    height: 25rem;
    padding-right: 5rem;
}

@keyframes comSlideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

.com-slide-text {
    font-size: 3.5rem;
    font-weight: 600;
    display: inline-block;
    animation: comSlideIn 1s ease-out forwards;
    position: relative;
}