.navbar-header {
    background-color: black;
    font-size: 1.3rem;
    margin-left: 9.9%;
    width: 80.3%;
}

.navbar-nav {
    --bs-navbar-active-color: #C97575 !important;
    --bs-nav-link-color: white !important;
    --bs-nav-link-hover-color: #C97575 !important;
}

.navbar-brand {
    color: white !important;
}

.navbar>.container {
    padding-left: 7rem;
    padding-top: 1rem;
}

#navbar {
    position: fixed;
    z-index: 1;
}

/* .active-nav-link {
    color: rgb(201, 117, 117) !important;
} */