.homepage_contact {
    background-color: #938A9E;
    padding-left: 10rem;
    padding-right: 10rem;
    /* padding-top: 4rem; */
    height: 100vh;
    overflow-y: scroll;

}

.contact {
    background-color: black;
    padding-top: 8rem;
    padding-bottom: 4rem;
    color: white;
}

.contact_heading {
    font-size: 7rem;
    margin-right: 10rem;
    margin-left: 8rem;

}

.contact_info {
    font-size: 1.15rem;
    justify-self: center;
}

.right_content {
    font-size: 1.2rem;
}

.key_leaf {
    height: 18rem;
    margin-top: 3rem;
    margin-bottom: 6rem;
}

.heading_key {
    font-size: 5rem;
    justify-self: self-start;
    padding-top: 7rem;
}

.card_title {
    font-size: 2rem !important;
}

.card_body {
    background-color: black !important;
    color: white !important;
    width: 30rem;
    justify-self: center
}

@keyframes contSlideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

.cont-slide-text {
    font-size: 3.5rem;
    font-weight: 600;
    display: inline-block;
    animation: contSlideIn 1.4s ease-out forwards;
    position: relative;
}